* {
  @include box-sizing(border-box); // establishes border-box model for all elements
  word-wrap: normal;
  -webkit-tap-highlight-color: rgba(0,0,0,0); // Remove default tappable touch color in iOS
}
html {
  font-size: 62.5%; // Sets up the Base 10 stuff
  height: 100%;
}
body {
  font-family: $sansBook;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  @include font-size(16,24);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
h1 {

}
h2 {

}
h3 {

}
h4 {

}
h5 {

}
h6 {

}
a {
  text-decoration: none;
  @include transition(color 0.3s ease-in);
  &:active {

  }
  &:hover {

  }
}
em {
  font-family: $sansItalic;
  font-style: normal;
}
strong {
  font-family: $sansBold;
  font-weight: normal;
}
p {

}
img {
  height: auto;
  width: 100%;
}
blockquote {

}
cite {

}
