.console{
  margin-top: 36px;
  h2{
    margin-bottom: 18px;
  }
  hr{
    border: none;
    border-top: 1px solid #a0b1c5;;
  }
  &-output{
    background-color: #212830;
    border: 1px solid #a0b1c5;
    font-size:10px;
    height: 200px;
    margin-bottom: 12px;
    overflow: scroll;
    padding: 12px;
  }
  &>div{
    margin-bottom: 3px;
  }
  .admin{
    font-style: italic;
    color: #999;
  }
  .me{
    color:darkgreen;
  }
  .opponent{
    color:#333;
  }
  &-form{
    overflow: hidden;
    [type="text"]{
      float: left;
      width: 80%;
    }
    [type="submit"]{
      float: right;
      width: 18%;
    }
  }
}
