.main-board{
  @include span(8 of 12);
  @include breakpoint(max-width $tablet){
    @include span(12 of 12);
  }
  h1{
    color:#f0aa3a;
    opacity:0;
    text-shadow: 1px 1px 3px rgba(0,0,0,.5);
  }
}
