.opponent-boards{
  margin-right: 0;
  &>h2{
    color:#f0aa3a;
    margin-top: 24px;
    margin-bottom: 0;
  }
}
.opponent-board{
  width:49%;
  &:nth-child(even) {
    float:right;
    margin-right: 0%;
  }
  &:nth-child(odd) {
    float:left;
    margin-right: 2%;
  }
  &__tile{
    background: #758795;
    border: 1px solid #405570;
    float:left;
    height:36px;
    width: 20%;
    &--free{
      background: darken(#758795, 5%);
    }
    &--selected{
      background: #56e7ca;
    }
  }
}
